/* Classes da pagina index */
    .fclass{ 
        width:100% ;
        height:auto ;
        color: #fff;
        padding: 10px;
    }

    .center { /* Centraliza os objetos no carrosel */
        position: absolute;
        left: 0;
        top: 15%;
        width: 100%;
        text-align: center;
        font-size: 18px;
    }
   

/* Classes dos Formularios */
    .fverde input,select,option{
        color: #555;
        

    }
    .fverde label{
        font-size: 18px;
        color: #11c182;

    }
    input[type="radio"]{
        border: 1px solid #5D5C5C;
        background-color: transparent;
        content: "\00a0";
        height: 18px;
        width: 18px;
        border-radius:4px;
    }
    .fverde select:hover{
        border:3px solid #21d192;

    }
    .fverde select:focus{
        border:3px solid #21d192;

    }
    .fverde input:hover{
        border:3px solid #21d192;

    }
    .fverde input:focus{
        border:3px solid #21d192;

    }
/* Ids da pagina index */

    #menu{
        position: sticky;
        border-bottom: #11c182 5px solid;
       
    }
    #p1{
        background-color: #444;
        border-top: #11c182 5px solid;
    }
    #back {
        position: relative; /* fundo slides */
    }
    #front{ /* Caixa da frente para consulta */
        height:auto ;
        min-height: 200px;
        width: 100%;
        max-width: 400px ;
        text-align: center;
        padding: 10px;
        background: rgba(204, 204, 204, 0.7);
       
        
    }
    #front i{
        color: #555;
        margin: 10px;
    }

    #rodape{ /* Rodapé */
        width: 100%;
        height: 70px;
    text-align: center;
    background-color: #11c182;
    
    }
    footer a,a:hover,a:focus,a:visited{
        color: #fff;
        
    }
    footer hr{
        background-color: #444;
        border-color: #444;
        border-width:  3px;
    }
        /* Menus secundarios */
            #rol a{ 
                background-color: transparent;
                color: #333;
                padding: 10px;
                margin-left:20px;
                margin-right: 20px; 
            }
            #rol a:hover{
                background-color:#21d192;
                color: #fff;
                padding: 10px;
                margin-left:20px;
                margin-right: 20px; 
            }
            #rol a:focus{
                background-color:#21d192;
                color: #fff;
                padding: 10px;
                margin-left:20px;
                margin-right: 20px; 
            }

